{% assign locale = include.locale | default: site.locale %}
{% assign author = page.author | default: page.authors[0] | default: site.author %}
{% assign author = site.data.authors[author] | default: author %}

<div itemscope itemtype="https://schema.org/Person" class="h-card">

  {% if author.avatar %}
    <div class="author__avatar">
      <a href="{{ author.home | default: '/' | absolute_url }}">
        <img src="{{ author.avatar | relative_url }}" alt="{{ author.name }}" itemprop="image" class="u-photo">
      </a>
    </div>
  {% endif %}

  <div class="author__content">
    <h3 class="author__name p-name" itemprop="name">
      <a class="u-url" rel="me" href="{{ author.home | default: '/' | absolute_url }}" itemprop="url">{{ author.name }}</a>
    </h3>
    {% if author.bio %}
      <div class="author__bio p-note" itemprop="description">
        {{ author.bio | markdownify }}
      </div>
    {% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse"><span class="follow-label">{{ site.data.ui-text[locale].follow_label | remove: ":" | default: "Follow" }}</span><span class="contact-label">Contact</span></button>
    <ul class="author__urls social-icons">
      {% if author.location %}
        <li itemprop="homeLocation" itemscope itemtype="https://schema.org/Place">
          {% include icon.html name="location-dot" %} <span itemprop="name" class="p-locality">{{ author.location }}</span>
        </li>
      {% endif %}

      {% if author.phone %}
        <li>
          <a href="tel:{{ author.phone }}" rel="nofollow noopener noreferrer me">
            {% include icon.html name="phone" %}<span class="label">{{ author.phone }}</span>
          </a>
        </li>
      {% endif %}

      {% if author.whatsapp %}
        <li>
          <a href="https://wa.me/{{ author.whatsapp }}" rel="nofollow noopener noreferrer me" itemprop="sameAs">
            {% include icon.html name="message-circle" %}<span class="label">WhatsApp</span>
          </a>
        </li>
      {% endif %}

      {% if author.signal %}
        <li class="author__signal">
          <a href="https://signal.me/#p/{{ author.signal }}" rel="nofollow noopener noreferrer me" itemprop="sameAs">
            {% include icon.html name="message-circle" %}<span class="label">Signal</span>
          </a>
        </li>
      {% endif %}

      {% if author.links %}
        {% for link in author.links %}
          {% if link.label and link.url %}
            <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer me"{% if link.url contains 'http' %} itemprop="sameAs"{% endif %}>{% include icon.html name=link.icon %}<span class="label">{{ link.label }}</span></a></li>
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if author.uri %}
        <li>
          <a href="{{ author.uri }}" itemprop="url" rel="me">
            {% include icon.html name="link" %}<span class="label">{{ site.data.ui-text[locale].website_label | default: "Website" }}</span>
          </a>
        </li>
      {% endif %}

      {% if author.email %}
        <li>
          <a href="mailto:{{ author.email }}" rel="me" class="u-email">
            <meta itemprop="email" content="{{ author.email }}" />
            {% include icon.html name="square-envelope" %}<span class="label">{{ site.data.ui-text[locale].email_label | default: "Email" }}</span>
          </a>
        </li>
      {% endif %}

      {% if author.keybase %}
        <li>
          <a href="https://keybase.io/{{ author.keybase }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            {% include icon.html name="key-round" %}<span class="label">Keybase</span>
          </a>
        </li>
      {% endif %}

      {% if author.twitter %}
        <li>
          <a href="https://twitter.com/{{ author.twitter }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            {% include icon.html name="twitter" %}<span class="label">Twitter</span>
          </a>
        </li>
      {% endif %}

      {% if author.facebook %}
        <li>
          <a href="https://www.facebook.com/{{ author.facebook }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            {% include icon.html name="facebook" %}<span class="label">Facebook</span>
          </a>
        </li>
      {% endif %}

      {% if author.linkedin %}
        <li>
          <a href="https://www.linkedin.com/in/{{ author.linkedin }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            {% include icon.html name="linkedin" %}<span class="label">LinkedIn</span>
          </a>
        </li>
      {% endif %}

      {% if author.xing %}
        <li>
          <a href="https://www.xing.com/profile/{{ author.xing }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            {% include icon.html name="share-2" %}<span class="label">XING</span>
          </a>
        </li>
      {% endif %}

      {% if author.instagram %}
        <li>
          <a href="https://instagram.com/{{ author.instagram }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            {% include icon.html name="instagram" %}<span class="label">Instagram</span>
          </a>
        </li>
      {% endif %}

      {% if author.tumblr %}
        <li>
          <a href="https://{{ author.tumblr }}.tumblr.com" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            {% include icon.html name="message-square" %}<span class="label">Tumblr</span>
          </a>
        </li>
      {% endif %}

      {% if author.bitbucket %}
        <li>
          <a href="https://bitbucket.org/{{ author.bitbucket }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            {% include icon.html name="git-branch" %}<span class="label">Bitbucket</span>
          </a>
        </li>
      {% endif %}

      {% if author.github %}
        <li>
          <a href="https://github.com/{{ author.github }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            {% include icon.html name="github" %}<span class="label">GitHub</span>
          </a>
        </li>
      {% endif %}

      {% if author.gitlab %}
        <li>
          <a href="https://gitlab.com/{{ author.gitlab }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            {% include icon.html name="gitlab" %}<span class="label">GitLab</span>
          </a>
        </li>
      {% endif %}

      {% if author.stackoverflow %}
        <li>
          <a href="https://stackoverflow.com/users/{{ author.stackoverflow }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            {% include icon.html name="code-2" %}<span class="label">Stack Overflow</span>
          </a>
        </li>
      {% endif %}

      {% if author.lastfm %}
        <li>
          <a href="https://last.fm/user/{{ author.lastfm }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            {% include icon.html name="music" %}<span class="label">Last.fm</span>
          </a>
        </li>
      {% endif %}

      {% if author.dribbble %}
        <li>
          <a href="https://dribbble.com/{{ author.dribbble }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            {% include icon.html name="dribbble" %}<span class="label">Dribbble</span>
          </a>
        </li>
      {% endif %}

      {% if author.pinterest %}
        <li>
          <a href="https://www.pinterest.com/{{ author.pinterest }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            {% include icon.html name="pin" %}<span class="label">Pinterest</span>
          </a>
        </li>
      {% endif %}

      {% if author.foursquare %}
        <li>
          <a href="https://foursquare.com/{{ author.foursquare }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            {% include icon.html name="map-pin" %}<span class="label">Foursquare</span>
          </a>
        </li>
      {% endif %}

      {% if author.steam %}
        <li>
          <a href="https://steamcommunity.com/id/{{ author.steam }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            {% include icon.html name="gamepad-2" %}<span class="label">Steam</span>
          </a>
        </li>
      {% endif %}

      {% if author.youtube %}
        {% if author.youtube contains "://" %}
          <li>
            <a href="{{ author.youtube }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
              {% include icon.html name="youtube" %}<span class="label">YouTube</span>
            </a>
          </li>
        {% elsif author.youtube %}
          <li>
            <a href="https://www.youtube.com/user/{{ author.youtube }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
              {% include icon.html name="youtube" %}<span class="label">YouTube</span>
            </a>
          </li>
        {% endif %}
      {% endif %}

      {% if author.soundcloud %}
        <li>
          <a href="https://soundcloud.com/{{ author.soundcloud }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            {% include icon.html name="music-2" %}<span class="label">SoundCloud</span>
          </a>
        </li>
      {% endif %}

      {% if author.weibo %}
        <li>
          <a href="https://www.weibo.com/{{ author.weibo }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            {% include icon.html name="radio" %}<span class="label">Weibo</span>
          </a>
        </li>
      {% endif %}

      {% if author.flickr %}
        <li>
          <a href="https://www.flickr.com/{{ author.flickr }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            {% include icon.html name="images" %}<span class="label">Flickr</span>
          </a>
        </li>
      {% endif %}

      {% if author.codepen %}
        <li>
          <a href="https://codepen.io/{{ author.codepen }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            {% include icon.html name="code-2" %}<span class="label">CodePen</span>
          </a>
        </li>
      {% endif %}

      {% if author.vine %}
        <li>
          <a href="https://vine.co/u/{{ author.vine }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            {% include icon.html name="leaf" %}<span class="label">{{ site.data.ui-text[locale].email_label | default: "Email" }}</span>
          </a>
        </li>
      {% endif %}

      {% include author-profile-custom-links.html %}
    </ul>
  </div>
</div>
