{% assign locale = include.locale | default: site.locale %}
<meta charset="utf-8">

{% include seo.html locale=locale %}

{% unless site.atom_feed.hide %}
  <link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
{% endunless %}

{%- comment %} https://docs.google.com/presentation/d/1rmxwWa9P6_xHqonmh5ONXRS-jPc5XKbnv99Rjkhe04s/present {% endcomment -%}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
  {% if site.enable_copy_code_button -%}
    window.enable_copy_code_button = true;
  {%- endif %}
</script>

<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" id="theme-light" media="screen">
<link rel="stylesheet" href="{{ '/assets/css/main-dark.css' | relative_url }}" id="theme-dark" media="screen">
<script>
  (function() {
    var theme = localStorage.getItem('theme');
    if (theme === null) {
      theme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
    }
    document.documentElement.setAttribute('data-theme', theme);
    document.getElementById('theme-light').disabled = theme === 'dark';
    document.getElementById('theme-dark').disabled = theme !== 'dark';
  })();
</script>

{% if site.head_scripts %}
  {% for script in site.head_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}
